

body{
    font-style:fantasy;
   background: rgba(0, 0, 0, 0.9);
   opacity:1.0;
}
nav {
    position: sticky;
    background-color: maroon;
    padding: 10px 10px 5px 5px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    margin-top:-15px;
    margin-left:-10px;
    margin-right: -10px;
    font-size: 25px;
    }

nav ul
{
text-align:right;
} 

nav  ul li{
    list-style: none;
    display: inline-block;
    margin-right: 5%;
}

nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: gold;
}
nav ul li a:hover{
    color: rgb(78, 24, 24);
        background-color: rgb(236, 202, 202);
        border: 100px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#tag{
    float: left;
}
#first{
margin-top:10px;
margin-bottom:100px;
margin-left:70px;
margin-right: 60px;
}
.second img{
   border-radius:200px;
   padding:50px;
   margin-bottom: 2px;
   margin-left:10px;
}
